<div class="container">
    <h1 class="center">
        Lab members
    </h1>
    <div class="searchBar">
      
        <input type="text" placeholder="Search a member..." (keyup)="onKey($event)"> 
        <button id="searchBtn">
        <mat-icon aria-hidden="false" fontIcon="search"></mat-icon>
        </button>
    </div>
    <div class="center">
      
        <div class="mainGrid">
        <ng-container *ngFor="let id of cardIds" >
            <div *ngIf="this.usernames[id].includes(this.searchValue)==true" class="personCard">
                <mat-card >
                    <mat-card-content>
                        <button class="actionButton" (click)="clickEvent(id)" >
                            ...
                        </button>
                    </mat-card-content>
                    <mat-card-content>
                        <div *ngIf="clicked[id]==true "class="buttonList">
                            <mat-icon aria-hidden="false" fontIcon="edit" matTooltip="Edit the person {{usernames[id]}}"></mat-icon>
                            <mat-icon aria-hidden="false" fontIcon="delete" matTooltip="Delete the person {{usernames[id]}}"></mat-icon>
                            <mat-icon aria-hidden="false" fontIcon="lan" matTooltip="Edit the memberships of {{usernames[id]}}" ></mat-icon>
                            <mat-icon aria-hidden="false" svgIcon="teaching" matTooltip="Edit the jury memberships of {{usernames[id]}}"></mat-icon>
                            <mat-icon aria-hidden="false" fontIcon="airplanemode_active"  matTooltip="Edit the invitations of {{usernames[id]}}"></mat-icon>
                            <mat-icon aria-hidden="false" svgIcon="school"  matTooltip="Edit the teaching activities of {{usernames[id]}}"></mat-icon>
                            <mat-icon aria-hidden="false" svgIcon="bibtex" matTooltip="Get BibTeX of publications for {{usernames[id]}}"></mat-icon>
                            <mat-icon aria-hidden="false" svgIcon="odt" matTooltip="Get Open Document Text of publications for {{usernames[id]}}"></mat-icon>
                            <mat-icon aria-hidden="false" svgIcon="html" matTooltip="Get HTML of publications for {{usernames[id]}}"></mat-icon>
                            <mat-icon aria-hidden="false" svgIcon="json" matTooltip="Get JSON for {{usernames[id]}}"></mat-icon>

                        </div>
                    </mat-card-content>
                    <mat-card-title>
                        {{this.usernames[id]}}
                    </mat-card-title>
                    <div class="profilePic">
                        <img mat-card-image src="../../assets/avatar.png" alt="userAvatar" class="avatar">
        
                    </div>
                    <mat-card-content class="content" id="mainContent">
                        <div class="organization">
                            <span>
                                Former organization
                            </span>
                            <img mat-card-image src="../../assets/ciad.png" alt="CIAD" class="orgLogo">
                            <span>
                                CIAD
                            </span>
                        </div>
                        <div class="organization">
                            <span>
                                Current organization
                            </span>
                            <img mat-card-image src="../../assets/utbm.png" alt="UTBM" class="orgLogo">
        
                            <span>
                                UTBM
                            </span>
                        </div>
                        <div class="organization">
                            <span>
                                Future organization
                            </span>
                            <img mat-card-image src="../../assets/ubfc.jpeg" alt="UBFC" class="orgLogo">
        
                            <span>
                                UBFC
                            </span>
                        </div>
        
                    </mat-card-content>
        
                    <mat-divider></mat-divider>
        
                    <mat-card-content class="content" id="footer">
                        <div class="bottomInfo">
                            <strong>
                                ORCID
                            </strong>
                            <span>
                                0000-0002-4443-0542
                            </span>
                        </div>
                        <div class="bottomInfo">
                            <strong>
                                VCARD
                            </strong>
                            <mat-icon aria-hidden="false" matTooltip= "View {{usernames[id]}}'s VCard" fontIcon="assignment_ind" ></mat-icon>
                        </div>
                        <div class="bottomInfo">
                            <strong>
                                Validated
                            </strong>
                            <mat-icon aria-hidden="false" fontIcon="check_circle_outline" [ngStyle]="{'color':'#3EC26B'}" ></mat-icon>
                        </div>
                    </mat-card-content>
        
        
        
        
        
                </mat-card>
            </div>
        </ng-container>
        
        
        </div>
        </div>
        
    </div>
   